* {
  box-sizing: border-box;
}

:root {
  --gray1: #c9c9c9;
  --gray2: #f2f2f2;
  --blue: #0290ff;
  --darkGray: gray;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  padding: 3vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid gray;
  padding: 0 2vw 2vw 2vw;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  height: 100px;
}

header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

header > nav a {
  text-decoration: none;
  color: gray;
  transition: all 0.2s;
}

header > nav a.active {
  text-decoration: underline;
  color: black;
}

section {
  width: 100%;
  height: 100%;
}

.WrapperRockets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 60rem;
}

.CardContainer {
  margin: 1rem auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 0 0;
  border-radius: 5px;
  box-shadow: 10px 0 53px -20px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 0 53px -20px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 0 53px -20px rgba(0, 0, 0, 0.43);
}

.ImgContainer {
  width: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.button {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
