* {
  box-sizing: border-box;
}

:root {
  --gray1: #c9c9c9;
  --gray2: #f2f2f2;
  --blue: #0290ff;
  --darkGray: gray;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  background-color: var(--gray2);
}

html {
  padding: 3vw;
  background-color: var(--gray1);
}

body {
  padding: 3vh;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  height: 100px;
}

header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

header > nav a {
  text-decoration: none;
  color: gray;
  transition: all 0.2s;
}

header > nav a.active {
  text-decoration: underline;
  color: black;
}
